@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#00ac8f;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --color-team1: #00ac8f;
    --color-score: #1d92ff;
    --color-team2: #ff7782;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* DARK THEME VARIABLES */
.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;   
    color: var(--color-dark);
}

.mycontainer{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: bolder;
    font-size: 1.8rem;
}

h2{
    font-size: 1.6rem;
    font-weight: bolder;
}

h3{
    font-size: 1.4rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.team1{
    color: var(--color-team1);
}

.score{
    color: var(--color-score);
}
.team2{
    color: var(--color-team2);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo h2{
    margin-top: 1.5rem;
}
aside .logo img{
    width: 5rem;
    height: 5rem;
}

aside .close{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem; 
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


aside .sidebar .logout span{
    transition: 100ms linear;
}

aside .sidebar .logout:hover{
    cursor: pointer;
    color: var(--color-danger);
}

/* MAIN */

main{
    margin-top: 2rem;
}

main {
    height: 2.8rem;
    /* border-bottom: 1px solid var(--color-light); */
    color: var(--color-dark-variant);
}

/* RIGHT */

.right{
    margin-top: 1rem;
}

.right .top{
    position: absolute;
    right: 5rem;
    top: 2.5rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
    transition: 400ms ease;
    transform: scale(1.2);
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    
}

@media  screen and (max-width: 4000px) {
    .search-bar-container{
        display: block;
    }
}

/* MEDIA QUERIES LAPTOP*/

@media screen and (max-width: 1400px){
    .mycontainer{
        width: 100%;
        grid-template-columns: 7rem auto;
    }

    .search-bar-container{
        display: none;
    }

    aside .logo{
        margin-left: 0.6rem;
    }

    aside .logo img{
        width: 5rem;
        height: 5rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }

    /* main{
        display: none;
    } */
}

@media screen and (max-width: 1000px) {
    /* .search-player{
        width: 50%;
        margin-left: 60%;
    } */
    
}

/* MEDIA QUERIES MOBILE*/
@media screen and (max-width: 768px){
    .mycontainer{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .search-bar-container{
        display: block;
    }

    aside{
        overflow: hidden;
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }
    }
    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        transform: none;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 20%;
    }

    /* .search-player{
        width: 100%;
        margin-left: 0;
    } */

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .final-score{
        font-size: x-large;
    }

    .pt-5{
        padding: 0 !important;
        padding-top: 3em !important;
    }
    
    /* .search-player{
        width: 70%;
        margin-left: 30%;
    } */

    .profile-header{
        height: 25em !important;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content{
    margin-top: 3rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
  color: var(--color-dark-variant);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--color-dark-variant);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--color-dark-variant);
}

/* search input */

.search-bar{
    position: absolute;
    font-size: smaller;
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-1);
    padding: .2em;
    background-color: var(--color-background);
    color: var(--color-dark-variant);
}

.search-width-100{
    width: 85%;
}

/* MATCHES */

.card{
    border: none !important;
}

.foot-btn{
    font-weight: bold;
    padding: 1em;
    border-top: 1px solid #edeffd;
}

#card-display-left, #card-display-right{
    min-height: 100%;
    color: black;
}

.logo-mycontainer{
    min-height: 70px;
}

.logo{
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.final-score{
    font-size: xx-large;
    font-weight: bold;
}

.foot-btn a{
    color: var(--color-primary);
}

.pic{
    border-radius: 50%;
    max-width: 2.5em;
    display: inline;
}

th{
    color: var(--color-dark-variant);
}

table{
    border-collapse: unset;
}

.player-name{
    font-size: larger;
}

.player-details{
    font-size: smaller;
}

.test{
    border: 2px solid red;
}

label, caption, td{
    color: var(--color-dark);
}

caption{
    font-weight: bold;
}

.card-body, .card{
    background-color: var(--color-white);
}

.header{
    width: 100%;
    max-width: 600px;
}

.form-control{
    background: transparent;
    color: var(--color-dark) !important;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    font-size: smaller;
}

.form-control:focus{
    border-color: none;
    box-shadow: none;
    border: 1px solid var(--color-dark-variant);
    background-color: var(--color-white);
}

.btn{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

/* SEARCH */

.profile-header{
    height: 18em;
    background: 
    linear-gradient(
      rgba(77, 77, 77, 0.4), 
      rgba(78, 78, 78, 0.4)
    ),
    url("../assets/hoopz_header_pic.png")
    center 60%
    no-repeat;
    background-size: cover;
    position: relative;
    border-radius: var(--border-radius-1);
}

.profile-header-content{
    padding: 3em 4em 0 4em;
}

.profile-pic-container{
    position: relative;
}

.search-profile-pic{
    width: 8rem;
    background-color: #363949;
    border-radius: var(--border-radius-1);
}

.search-profile-pic:hover{
    cursor: pointer;
}

.profile-icon-container{
    position: absolute;
    bottom: 0;
    background-color: rgba(54, 57, 73, 0.3);
    width: 100%;
}

.profile-icon-badge{
    max-width: 4em;
}

.profile-icon-badge:hover{
    cursor: pointer;
}

.profile-icon-num{
    max-width: 4em;
    background-color: var(--color-light);
    color: var(--color-white);
}

.btn-neutral{
    background-color: var(--color-score);
    border: 2px solid var(--color-score);
}

.btn-favorite{
    background-color: transparent;
    border: 1px solid var(--color-warning);
    color: var(--color-warning);
}

.btn-favorite:hover{
    color: var(--color-warning);
}

.profile-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 4em;
    background-color: rgba(54, 57, 73, 0.6);
    color: var(--color-white);
    border-bottom-left-radius: var(--border-radius-1);
    border-bottom-right-radius: var(--border-radius-1);
}

.profile-btn{
    padding: 1em;
    background-color: transparent;
    color: var(--color-white);
    font-weight: bold;
}

.active{
    background-color: var(--color-white);
    color: var(--color-dark);
}

.card-border{
    background-color: var(--color-dark-variant);
}

.sort-btn{
    color: var(--color-dark);
    padding: .5em 2em;
    background-color: var(--color-white);
}

.card-display{
    border-top: .2em solid rgba(0, 0, 0, 0.1);
    border-bottom: .2em solid rgba(0, 0, 0, 0.1);
}

.selected{
    color: var(--color-warning);
    border-bottom: .4em solid var(--color-danger);
}

.victory-card{
    border-left: .8em solid var(--color-success);
}

.defeat-card{
    border-left: .8em solid var(--color-danger);
}

.defeat{
    color: var(--color-danger);
}

.victory{
    color: var(--color-success);
}

.neutral{
    color: var(--color-score);
}

.card-pic{
    border-radius: 50%;
    border: 2px solid var(--color-warning);
    max-width: 5em;
    position: relative;
}

.enemy-pic{
    max-width: 2em;
}

.dropdown-pic{
    border-radius: 50%;
    max-width: 1.8em;
    display: inline;
}

.mydropdown{
    height: 100%;
    padding: var(--padding-1);
    font-weight: bolder;
    color: var(--color-white);
}

.dropdown:hover{
    cursor: pointer;
}

.dropdown-victory{
    background-color: var(--color-success);
}

.dropdown-defeat{
    background-color: var(--color-danger);
}

.accordion-hidden{
    height: 0;
    transition: .2s ease-in;
    display: block;
    overflow-y: hidden;
}

.down{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.card-collapse{
    border: .2em solid rgba(0, 0, 0, 0.1);
    border-top: none;
    height: 100%;
    overflow-y: auto;
}

.rank-logo{
    max-width: 8em;
}

.bar{
    position: relative;
    width: 100%;
    background-color: var(--color-light);
    height: .4em;
}

.bar-fill{
    position: absolute;
    width: 50%;
    background-color: var(--color-success);
    height: .4em;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
}

.bar-fill-dark{
    background-color: var(--color-dark-variant);
}